<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style type="text/css">
	.closed{
		color : red;
		text-decoration: line-through;
		font-style: italic;
		font-weight: bold;
	}
	section{
		margin-bottom: 10px;
	}
	ol{
		width: 400px;
		list-style: none;
	}
	li{
		border : 1px solid gray;
		padding: 5px;
		border-radius: 5px;
		margin-bottom: 10px;
		background-color: #e7e7e7;
		font-size: 16pt;
		cursor: pointer;
	}
	.datetime{
		color : red;
		font-size: small;
		font-style: italic;
	}
	.stats{
		font-size: 16pt;
	}
	</style>
	<script src="angular.min.js"></script>
	<script src="moment.js"></script>
	<script>
		/*
		1. List the bugs - done
		2. Add a new bug - done
		3. Toggle the closed status of the bug - done
		4. Remove closed bugs - done
		5. Display stats - done
		6. Search for bugs - done
		7. Sort the bugs - done
		8. Improvise the bug display - done
		9. Persist the bugs in the localstorage
		window.localStorage
		===================
			- key/value store
			- value should be a string
			- use angular.toJson() and angular.fromJson() to serialize and deserialize 
			- apis
				* setItem(key, value)
				* getItem(key) //=> value
				* removeItem(key)
				* key(index) //key at index
				* clear()
				* length

		10. Display 'createdAt' for each bug
		11. Persist the bugs in the server
		12. Categorize the bugs
		*/

	</script>
	<script src="utils.js"></script>
	<script>
		

		var bugTrackerApp = angular.module("bugTrackerApp", ["utils"]);
		//constructor function

		bugTrackerApp.factory('Bug', function(){
			function Bug(defaults){
				this.id = defaults.id || 0;
				this.name = defaults.name || '';
				this.isClosed = defaults.isClosed || false;
				this.createdAt = defaults.createdAt || new Date();
			}
			Bug.prototype.toggle = function(){
				this.isClosed = !this.isClosed;
			}
			return Bug;
		});
		
		bugTrackerApp.factory('bugStorage', function($window, Bug){
			var maxBugId = 0,
				storage = $window.localStorage;

			function getAllBugs(){
				var result = [];
				for(var i=0; i<storage.length; i++){
					var key = storage.key(i),
						dataAsString = storage.getItem(key),
						dataObj = angular.fromJson(dataAsString),
						bug = new Bug(dataObj);
					maxBugId = maxBugId > bug.id ? maxBugId : bug.id;
					result.push(bug);
				}
				return result;
			}

			function addNewBug(bugName){
				var bug = new Bug({id : ++maxBugId, name : bugName});
				saveBug(bug);
				return bug;
			}

			function saveBug(bug){
				storage.setItem(bug.id, angular.toJson(bug));
			}

			function removeBug(bug){
				storage.removeItem(bug.id);
			}

			return {
				getAll : getAllBugs,
				addNew : addNewBug,
				save : saveBug,
				remove : removeBug
			};
		});

		bugTrackerApp.service('bugsCollection', function(bugStorage){
			this.list = bugStorage.getAll();

			this.addNew = function(newBugName){
				var newBug = bugStorage.addNew(newBugName);
				this.list.push(newBug);
			};

			this.toggle = function(bug){
				bug.toggle();
				bugStorage.save(bug);
			}

			this.removeClosed = function(){
				for(var i=this.list.length-1; i>=0; i--)
					if (this.list[i].isClosed){
						bugStorage.remove(this.list[i]);
						this.list.splice(i,1);
					}
			
			}
		})		

		bugTrackerApp.controller("bugsController", function($scope, bugsCollection){
			$scope.bugsCollection = bugsCollection;

			$scope.newBugName = '';
			$scope.addNew = function(){
				bugsCollection.addNew($scope.newBugName);
				$scope.newBugName = '';
			}
		});


		bugTrackerApp.filter('toClosedCount', function($filter){
			/*return function(bugs){
				var result = 0;
				for(var i=0; i<bugs.length; i++)
					if (bugs[i].isClosed)
						++result;
				return result;
			}*/
			var builtinFilterFilter = $filter('filter');
			return function(bugs){
				return builtinFilterFilter(bugs, {isClosed : true}).length;
			}  
		})

		
	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{ bugsCollection.list | toClosedCount }}</span>
			<span> / </span>
			<span>{{bugsCollection.list.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for=""> Closed :?</label>
			<input type="checkbox" ng-model="searchBug.isClosed">
			<input type="button" value="Show All" ng-click="searchBug.isClosed = undefined">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<input type="text" ng-model="sortBugBy">
			<label for="">Descending ? :</label>
			<input type="checkbox" ng-model="sortByDescending">
		</section>
		<section class="list">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Add Bug" ng-click="addNew()">
			<input type="button" value="Remove Clsoed" ng-click="bugsCollection.removeClosed()">
			<ol>
				<li 
					ng-repeat="bug in (bugsCollection.list | filter:searchBug | orderBy:sortBugBy:sortByDescending)" >
					<div ng-click="bugsCollection.toggle(bug)" ng-class="{closed : bug.isClosed}">
						{{bug.name | trimText}}
					</div>
					<div class="datetime"> @ {{bug.createdAt | elapsed }}</div>
				</li>
			</ol>
		</section>
	</div>
</body>
</html>