<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Math Calculator</title>
	<script src="angular.min.js"></script>
	<script>
		function MathCalculator(){
			this.number1 = 0;
			this.number2 = 0;
			this.result = 0;
		}
		MathCalculator.prototype.add = function(){
			this.result = this.number1 + this.number2;
		}

		MathCalculator.prototype.subtract = function(){
			this.result = this.number1 - this.number2;
		}

		MathCalculator.prototype.multiply = function(){
			this.result = this.number1 * this.number2;
		}

		MathCalculator.prototype.divide = function(){
			this.result = this.number1 / this.number2;
		}

		angular.module("ng").run(function($rootScope){
			$rootScope.calculator = new MathCalculator();
			$rootScope.operation = '';
			$rootScope.calculate = function(){
				$rootScope.calculator[$rootScope.operation]();
			}
		});
	</script>
</head>
<body ng-app>
	<input type="number" ng-model="calculator.number1">
	<input type="number" ng-model="calculator.number2">
	<select ng-model="operation">
		<option value="add">Add</option>
		<option value="subtract">Subtract</option>
		<option value="multiply">Multiply</option>
		<option value="divide">Divide</option>
	</select>
	<input type="button" value="Calculate" ng-click="calculate()">
	<div ng-bind="calculator.result">[Result]</div>
</body>
</html>